/* Remove link-like hover behavior from talk titles */
.archive__item-title {
  text-decoration: none !important;
  border-bottom: none !important;
}

.archive__item-title:hover {
  text-decoration: none !important;
  border-bottom: none !important;
}
